fastapi
uvicorn
python-dotenv
mysql-connector-python
sqlalchemy
langchain
langchain-groq
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-mistralai
langchain-cohere
langgraph
pandas
openpyxl
reportlab
playwright
pydantic
cryptography
pyodbc
jinja2
python-multipart
pytest
pypdf
requests
libsql
pydantic-settings