fastapi
uvicorn
python-dotenv
mysql-connector-python
sqlalchemy
langchain
langchain-groq        
langchain-openai
langchain-anthropic
langgraph
pandas
openpyxl
reportlab
playwright
pydantic
pyodbc
jinja2
python-multipart
pytest
pypdf